name: Run Python Script

on:
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Run Python Script
        run: |
          python -m pip install ultralytics
          python -m pip install telepot
          python a.py
      # - name: Run Python Script
      #   run: |
      #     python -m pip install pyTelegramBotAPI
      #     python a.py
